@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: Lato;
    color: grey;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
    background-image: URL('https://static.vecteezy.com/system/resources/previews/006/189/477/non_2x/elegant-seamless-pattern-cherry-blossom-vector.jpg');
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    height: 90%;
    width: 80%;
    margin: 2%;
    display: flex;
    background-color: rgba(252, 215, 221, 0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}


.input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 1rem;
    caret-color: grey;
}

.input:-webkit-autofill {
    -webkit-background-clip: text;
    background-clip: transparent;
    -webkit-text-fill-color: grey;
}


.input::selection {
    background-color: grey;
    -webkit-background-clip: text;
    background-clip: transparent;
    -webkit-text-fill-color: rgb(252, 215, 221);
}

.input::placeholder {
    color: transparent;
}

.input:focus {
    outline: none;
}

.input::content {
    color: transparent;
}

.button {
    background-color: transparent;
    border: 1px solid grey;
    padding: 5px;
    color: grey;
    transition: 0.3s;
    width: 60%;
    align-self: center;
}

.button:hover {
    background-color: grey;
    border: 1px solid grey;
    padding: 5px;
    color: rgb(252, 215, 221);
}

a {
    font-size: small;
}

.anchor {
    color: grey;
}

.anchor:visited {
    color: grey;
}

.home-page {
    overflow: scroll;
    justify-content: start;
    width: 100%;
}

.homecontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: rgba(252, 215, 221, 0.8);
    height: 10%;
    width: 100%;
    position: fixed;
    margin: 0px;
}

.topcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 80px;
    width: 100%;
    top: 0px;
}

.botcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 50px;
    width: 100%;
    bottom: 0px;
}


.header {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
    position: absolute;
    border: 1px solid grey;
}

.profile {
    grid-column: 3;
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilephoto {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png");
    background-size: cover;
    border: 1px solid grey;
    background-repeat: no-repeat;
}

.greeting {
    width: 100%;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    top: 50%
}

.menu {
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}

.burgerline {
    height: 5px;
    width: 30px;
    background-color: grey;
    /* margin-top: 5px; */
    margin-left: 10px;
}


.list {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding: 0;
    /* overflow: scroll; */
    margin-top: 40%;
    margin-bottom: 30%;
}

.list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgb(252, 215, 221);
    color: black;
    width: 300px;
    min-height: 150px;
    font-size: 1.5rem;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.delete {
    cursor: pointer;
    font-size: small;
    align-self: flex-end;
}


.list__item-text {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: medium;
}

.homefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid grey;
    gap: 60%;
}

.addnote {
    display: flex;
    height: 35px;
    width: 35px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.addnote:hover {
    height: 40px;
    width: 40px;
    font-size: x-large;
}

.off {
    display: none;
}

option {
    background-color: rgba(252, 215, 221, 0.8);
}

select {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 0.8rem;
    caret-color: grey;

}

select::placeholder {
    color: transparent;
}

select:focus {
    outline: none;
}

select::content {
    color: transparent;
}

