<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>

  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="grid-container">
    <div class="header flex-items-aligned">Header</div>
    <div class="side1 flex-items-aligned">Side1</div>
    <div class="body flex-items-aligned">Body</div>
    <div class="side2 flex-items-aligned">Side2</div>
    <div class="footer flex-items-aligned">Footer</div>
  </div>
</body>

</html>