html,
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  background-color: rgb(59, 134, 194);
  height: 100%;
}
div {
  border-color: 1px solid black;
}

.header {
  grid-column: 1 / span 3;
}

.aside1 {
  grid-column: 1;
}

.body {
  grid-column: 2;
}

.aside2 {
  grid-column: 3;
}

.footer {
  grid-column: 1 / span 3;
}
.flex-items-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}
