.grid-container {
  display: grid;
  background-color: rgb(24, 189, 189);
  grid-template-columns: 52% 52% 52%;
  grid-template-rows: 100% 100% 100%;
  border: 2px solid black;
}
.grid-container div {
  background-color: gold;
  text-align: center;
  color: white;
  border: 1px solid black;
}
.item1 {
  background: rgb(24, 112, 189);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
