<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employment Blog</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header header-flex-container">
      <h1>Employment blog</h1>
    </div>

    <div class="flex-container main">
      <nav class="nav-container">
        <ul>
          <li>
            <a href="https://www.w3schools.com/html/"
              >Visit our HTML tutorial</a
            >
          </li>
          <li>
            <a href="https://www.w3schools.com/html/"
              >Visit our HTML tutorial</a
            >
          </li>
          <li>
            <a href="https://www.w3schools.com/html/"
              >Visit our HTML tutorial</a
            >
          </li>
          <li>
            <a href="https://www.w3schools.com/html/"
              >Visit our HTML tutorial</a
            >
          </li>
        </ul>
      </nav>
      <div class="flex-container container-blog-posts">
        <article>
          <h2 class="blog-title">Blog Post Title</h2>
          <summary>Blog summary and date.</summary>
          <div>
            <img
              id="image-1"
              src="../../cv/images/daniel-tomlinson.png"
              alt="Blog image"
            />
          </div>
          <label for="image-1">Picture Label</label>
          <p>Paragraph</p>
          <form action="https://google.com">
            <input type="submit" value="Read more" />
          </form>
        </article>
        <article>
          <h2 class="blog-title">Blog Post Title</h2>
          <summary>Blog summary and date.</summary>
          <div>
            <img
              id="image-1"
              src="../../cv/images/daniel-tomlinson.png"
              alt="Blog image"
            />
          </div>
          <label for="image-1">Picture Label</label>
          <p>Paragraph</p>
          <form action="https://google.com">
            <input type="submit" value="Read more" />
          </form>
        </article>
        <article>
          <h2 class="blog-title">Blog Post Title</h2>
          <summary>Blog summary and date.</summary>
          <div>
            <img
              id="image-1"
              src="../../cv/images/daniel-tomlinson.png"
              alt="Blog image"
            />
          </div>
          <label for="image-1">Picture Label</label>
          <p>Paragraph</p>
          <form action="https://google.com">
            <input type="submit" value="Read more" />
          </form>
        </article>
        <article>
          <h2 class="blog-title">Blog Post Title</h2>
          <summary>Blog summary and date.</summary>
          <div>
            <img
              id="image-1"
              src="../../cv/images/daniel-tomlinson.png"
              alt="Blog image"
            />
          </div>
          <label for="image-1">Picture Label</label>
          <p>Paragraph</p>
          <form action="https://google.com">
            <input type="submit" value="Read more" />
          </form>
        </article>
      </div>
      <div class="flex-container container-aside">
        <aside>
          <div class="card card-aside">
            <h3>About Me</h3>
            <img src="https://fakeimg.pl/50/" alt="Me" />
            <p>Paragraph</p>
          </div>
        </aside>
        <aside>
          <div class="card card-top-blogs">
            <h3>Top Blogs</h3>
            <div><img src="https://fakeimg.pl/50/" alt="blog 1" /></div>
            <div><img src="https://fakeimg.pl/50/" alt="blog 2" /></div>
            <div><img src="https://fakeimg.pl/50/" alt="blog 3" /></div>
          </div>
        </aside>
        <aside>
          <div class="card card-aside">
            <h3>Follow Me</h3>
            <p>Some Text</p>
          </div>
        </aside>
      </div>
    </div>

    <footer class="footer">Footer</footer>
  </body>
</html>
