@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

:root {
}

html {
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

div {
  border: 1px solid black;
}

header {
  height: 16%;
}

.header-flex-container {
  display: flex;
  justify-content: center;
}

.footer {
  justify-content: center;
  height: 16%;
}

.flex-container {
  display: flex;
}

.container-aside {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 18%;
}

.card {
  background-color: aquamarine;
  box-shadow: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.card-top-blogs {
  align-items: center;
}

.card-aside {
  display: flex;
  justify-content: center;
}

.container-blog-posts {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 60%;
}

.main {
  flex-direction: row;
  align-content: center;
}

.nav-container {
  padding-right: 1rem;
}

.blog-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
