<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flex</title>

  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="flex-container">
    <div class="header flex-aligned-justified">Header</div>
    <div class="main">
      <div class="aside flex-aligned-justified">Side1</div>
      <div class="body flex-aligned-justified">Body</div>
      <div class="aside flex-aligned-justified">Side2</div>
    </div>
    <div class="footer flex-aligned-justified">Footer</div>
  </div>
</body>

</html>