


html,
body {
  background: rgb(32,30,33);
background: linear-gradient(34deg, rgba(32,30,33,1) 44%, rgba(253,181,29,1) 92%, rgba(252,176,69,1) 100%);
  width: 100%;
  margin:0%;
  box-sizing:border-box;
  height: 100%;
  display: flex;
  


}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--spaced{
  gap: 10px;
}

.home-page{

display: flex;
width: 90%;


}

main {
  margin-top: 0%;
  background: rgb(251,137,63);
  background: radial-gradient(circle, rgba(251,137,63,1) 0%, rgba(252,132,70,0.16152398459383754) 100%);
  display: flex;
  justify-content:center;
  flex-direction:column;
  border: 10px solid black;
  padding:10%;
  align-items: center;
  color:black;
  /*border-radius: 30px;*/
  width: 100%;
  height: 100%;
 margin-left: 20%;
  margin: 0%;
  justify-items: center;
  overflow: scroll;
  
}

.img{
display: flex;
width: 100px;
height: 100px;
padding-top: 25px;
padding-bottom: 30px;
justify-content: center;
justify-items: center;



}

.iconLogin{
  display: flex;
  height:auto;
  width: 100%;
  border-radius: 1px;
  display: flex;
  align-items: center;
  margin-left: 0%;
  border: 1px solid black;
  padding: 5px;
  height: 100%;


  
} 

.form {
  display: flex;
  
  flex-direction: column;

  gap: 10px;

  padding: 5%;
}

.form__field{
  display: flex;
  flex-direction: column;
  gap: 5px;

}




.email, .password{
color : solid black;
/*border-radius: 30px;*/
border: 2px solid black;
font-size: medium;
background-color:white;
padding: 10px;
align-self: center;
display: flex;
width: 100%;



}
a{
  color: white;
  font-size:medium;
  display:flex;
  align-items: center;
  margin-left: 40%;
  text-decoration: none;
  margin: auto;
  
}
.button{
  background-color: black;
  color: white;
 border-radius: 20px;
  padding: 10px;
  

  
}
.button:hover{
  background: rgb(49,60,87);
background: radial-gradient(circle, rgba(49,60,87,0.929030987394958) %, rgba(24,28,37,0.9094231442577031) 66%);
}

.Register{
display: flex;
align-items: center;
border: 10px;
margin:auto;
flex-direction: column;


}

.input::placeholder{
  color: transparent;
}

.input::placeholder{
  outline: none;
}

.off{
  display: none;
}

.list{
display: flex;
flex-direction: column;
gap: 90px;
padding: 0;
overflow: scroll;
margin: 0;
}

.list__item{
display: flex;
justify-content: center;
align-items: center;
background-color:wheat;
color: rgb(32, 30, 26);
font-size: 1rem;
/*padding: 10px;*/
width: 100%;
text-align: center;
}

.list__item-text {
  width: calc(100% - 2);
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;  
  resize: node;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent-button{
  background-color: transparent;
  border: none;
  color:grey;
  font-size: 3rem;
  cursor: pointer;
}

.transparent-button:hover{
color: antiquewhite;


}

.list__item-delete-button{

  align-items: flex-end;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: centers;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  color: coral;
  
}

.list__item-delete-button:hover{

  color: black;
}
  /*padding: 50%, 90%;
  

  
}


