@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

*, body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
}

.scene {
    background-image: url("./wood.jpg");
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    color: white;
}

.scores {
    display: flex;
    gap: 10px;
}

.score {
    border: 1px solid black;
    padding: 5px;
}

.robot {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes change-bgcolor {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.head {
    background-color: red;
    animation-name: change-bgcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.eyes-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.eye {
    background-color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pupil {
    background-color: black;
    width: 5px;
    height: 5px;
}

.nose {
    background-color: black;
    width: 10px;
    height: 20px;
}

.mouth {    
    background-color: white;
    width: 50px;
    height: 10px;
} 

.neck {
    background-color: yellow;
    height: 20px;
    width: 20px;
}

.superior-part {
    display: flex;
}

.torso {
    width: 100px;;
    height: 150px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arm {
    width: 200px;
    height: 50px;
    background-color: brown
}

.circle {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 50px;
}

.circle:hover {
    background-color: red;
}

.legs-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.leg {
    height: 120px;
    width: 25px;
    background-color: red;
}