html, body {
    height: 100%;
    margin: 0;
}

.fighter {
    background-color: yellow;
    height: 200px;
    width: 50px;
    position: absolute;
}

.oponent {
    background-color: dodgerblue;
    height: 200px;
    width: 50px;
    position: absolute;
}