<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>COSITAS</title>
</head>


<body>
    <div class="grid-container">
        <div class="element element1">
            <div class="sub sub1">TEXTO RANDOM</div>
        </div>
        <div class="element element2">
            <div class="sub sub2">TEXTO RANDOM</div>
        </div>
        <div class="element element3">
            <div class="sub sub3">TEXTO RANDOM</div>
        </div>
        <div class="element element4">
            <div class="sub sub4">TEXTO RANDOM</div>
        </div>
        <div class="element element5">
            <div class="sub sub5">TEXTO RANDOM</div>
        </div>
        <div class="element element6">
            <div class="sub sub6">TEXTO RANDOM</div>
        </div>
        <div class="element element7">
            <div class="sub sub7">TEXTO RANDOM</div>
        </div>
        <div class="element element8">
            <div class="sub sub8">TEXTO RANDOM</div>
        </div>
        <div class="element element9">
            <div class="sub sub9">TEXTO RANDOM</div>
        </div>
        <div class="element element10">
            <div class="sub sub10">TEXTO RANDOM</div>
        </div>
        <div class="element element11">
            <div class="sub sub11">TEXTO RANDOM</div>
        </div>
        <div class="element element12">
            <div class="sub sub12">TEXTO RANDOM</div>
        </div>

    </div>
</body>


</html>