*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
}
.flex-container{
    display: flex;
    background-color:blue ;
    border: 1px solid black;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: large;

}
.box0,.box4{
    /* display:flex ; */
    background-color: darkcyan;
    width: 100%;
    height: 20%;
    border: 1px solid blanchedalmond;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 30px;
    
}
.flex-exten{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1,.box2,.box3{
    background-color: darkgoldenrod;
    border: 1px solid black;
    
}
.box0,.box4{
    width: 100%;
}

.box1,.box2{
    width: 40%;
    height: 60%;
}

.box3{
    width: 20%;
    height: 60%;
}

