<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>container</title>
    <link rel="stylesheet" href="flex.css">
</head>

<body>
    <div class="flexbox-container">
        <div class="box1 flex ">header </div>
        <div class="box2 ">
            <div class="box3 flex ">aside1</div>
            <div class="box4 flex ">aside2</div>
            <div class="box5 flex ">body</div>
        </div>

        <div class="box6 flex ">footer </div>

    </div>

</body>

</html>