
.box1{
background-color: red;
}
.box2{
background-color:blue  
}
.box3{
 background-color:orange
}
.box4{
 background-color:green
}
.flexbox-container{
background-color:white;
border: 1px black;
text-align: center;
height: 100px;
width:100%;
   }
