*{
    margin: 0;
    box-sizing: 0;
}

html,body {
    height: 100%;
}

#tablero{
    display: inline-block;
    border: 5px solid;
}

.fila{
    background-color: black;
    display: table;
}

.fila:nth-child(odd) .casilla:nth-child(even),
.fila:nth-child(even) .casilla:nth-child(odd){
    background: white;
}

.casilla{
    width: 50px;
    height: 50px;
    float:left;
}