body,
html, body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}


.container {
    display: flex;
    /* background-color: aqua; */
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    /* margin:0; */
    background-image: url("https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg");
}
.label__movil{
    font-size: 1rem;
    color: aqua;    
}
/* =========================LOGIN====================== */


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    background-color: transparent;
}
/* label{
    display:flex;
    justify-content: flex-start;
    text-align: start;
} */
.img-login {
    border-radius: 50%;
    width: 40%;
    margin-bottom: 5%;

}

.form__field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input {
    font-size: 130%;
    font-weight: bold;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
    caret-color: white;
    
}

.input::placeholder{
    color: transparent;
}

.input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}

.input::selection {
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: dodgerblue;
}

.input:focus {
    outline: none;
}

.button-login {
    width: 50%;
    height: 10%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;

}

.button-login:hover {
    background-color: #037E8c;
}

.button-login:hover .select {
    font-size: 130%;
    background: white;
    color: #436174;
}


.link {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.link-register, .link-login{
    text-decoration: none;
}
.link-register:visited{
    color:white;
}
/* =========================REGISTER====================== */


.form-reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    background-color: dodgerblue;
}

.img-register {
    border-radius: 50%;
    width: 40%;
    margin-bottom: 5%;
}


/* =========================HOME====================== */
.container_home {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    height: 100%;
    gap: 10px;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg");
}
.header_home{
    padding-top:5%;
    height: 10%;
    width: 100%;
    flex-grow: 0;
    /* background-color: aqua ; */
}
.main_home{
    flex-grow: 0;
    height:75%;
    width: 100%;
    margin: 0;
    /* background-color: aqua ; */
}
.home_page{
    box-sizing: border-box;
    
}
.cont__header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    
}
.cont__header .messageTitle{
     /* padding-left: 10%; */
}


.messageTitle, .fa-solid.fa-bars, .fa-solid.fa-plus {
    margin: 5px;
    color: #037E8c;
}
.messageTitle{
    font-size: 150% ;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
}

.fa-solid.fa-bars{
    display: flex;
    justify-content: center ;
    width: 12%;
    height: 40%;
    font-size: 175%;
    background: rgb(2, 1, 3);
    text-align: center;
    line-height: 155%;
    border-radius: 20%;
    margin-left: 20%;
    cursor: pointer;
}
.nav-home {
    display: none;
}

.menu-home{
    list-style: none;
    padding: 0;
    margin: 0 ;
}


.menu__link{
    display: block;
    padding:15px;
    width: 100%;
    background: WHITE;
    text-decoration: none;
    color: white;
    background-image:url("https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg");
}
.menu__link:hover{
    background: #037E8c;
}
.menu__link:hover .select{
    background: white;
    color: #436174;
}

.mostrar{
    display: flex;
    margin-left: 65%;
    transition: 1.5s;
}

.nolink-register{
    /* text align para centrar un elemento p */
    text-align: center;
    color:aqua;
}

/* ============ Main_Home ===================== */
.main_home{
    display: flex;
    padding: 0;
    margin: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
    overflow: scroll;
    /* margin-left: 10%;
    margin-right: 10%; */
    
}

.list::-webkit-scrollbar {
    display: none;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 168, 112);
    color: black;
    min-height: 40%;
    width: 70%;
    font-size: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    margin:0 10% 0 10%;
    overflow: scroll;
}

.list__item::-webkit-scrollbar {
    display: none;
  }

  .createNote{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 0;
    padding-right: 5%;
    

}
.createNote::-webkit-scrollbar {
    display: none;
  }

.input__Newitem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 168, 112);
    color: black;
    min-height: 40%;
    width: 80%;
    height: 90%;
    font-size: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    margin: 7.5%;

    margin-bottom: 0%;
    overflow: scroll;
}


/* ============ Footer_Home =============== */

.footer_home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:5%;
    height: 9%;
    width: 100%;
    margin: 0%;
    /* background-color: aqua ; */
}
.btn_foot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.btn_plus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 14%;
}
.btn_arrLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 14%;
}
.fa-solid.fa-plus{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
    color: #037E8c;
    height: 100%;
    font-size: 190%;
    background: rgb(2, 1, 3);
    text-align: center;
    /* line-height: 155%; */
    border-radius: 20%;
    /* margin-left: 20%; */
    cursor: pointer;
}
.fa-solid.fa-arrow-left{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 85%;
    height: 100%;
    color: #037E8c;
    font-size: 185%;
    background: rgb(2, 1, 3);
    text-align: center;
    /* line-height: 155%; */
    border-radius: 20%;
    /* margin-left: 20%; */
    cursor: pointer;
}


.off{
    display: none;
}


/* ==============MEDIA======================= */

/* @media (min-width: 1000px) {
    
    .nav{
        width: 45%;
    }
    
} */