html,
body {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: lightslategray;
  height: 1000px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  width: 60%;
}
.content {
  background-color: rgb(20, 169, 169);
  flex-grow: 1;
}

@media (min-width: 666px) {
  .container {
    background-color: gold;
    display: grid;
    grid-template-areas:
      "a b b"
      "a c c"
      "d d e"
      "f f e"
      "g h h"
      "g i i";
  }
  .content {
    background-color: blueviolet;
  }
  .content:first-child {
    background-color: aquamarine;
    grid-area: a;
  }
  .content:nth-child(2) {
    background-color: burlywood;
    grid-area: b;
  }
  .content:nth-child(3) {
    background-color: rgb(145, 222, 135);
    grid-area: c;
  }
  .content:nth-child(4) {
    background-color: rgb(216, 222, 135);
    grid-area: d;
  }
  .content:nth-child(5) {
    background-color: rgb(222, 135, 161);
    grid-area: e;
  }
  .content:nth-child(6) {
    background-color: rgb(222, 161, 135);
    grid-area: f;
  }
  .content:nth-child(7) {
    background-color: rgb(172, 52, 191);
    grid-area: g;
  }
  .content:nth-child(8) {
    background-color: rgb(18, 223, 196);
    grid-area: h;
  }
  .content:nth-child(9) {
    background-color: rgb(64, 224, 24);
    grid-area: i;
  }
}
@media (min-width: 1024px) {
  .container {
    transform: rotate3d(1, 1, 1, 45deg);
    transition: transform 2g;
  }
}

/* @media (min-width: 666px) {
  .container {
    background-color: gold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .content {
    background-color: blueviolet;
  }
  .content:first-child {
    background-color: aquamarine;
    grid-row: 1 / 3;
  }
  .content:nth-child(2) {
    background-color: burlywood;
    grid-column: 2 / span 2;
  }
  .content:nth-child(3) {
    background-color: rgb(145, 222, 135);
    grid-column: 2 / span 3;
  }
  .content:nth-child(4) {
    background-color: rgb(216, 222, 135);
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .content:nth-child(5) {
    background-color: rgb(222, 135, 161);
    grid-column: 1 / span 2;
  }
  .content:nth-child(6) {
    background-color: rgb(222, 161, 135);
    grid-row: 3 / span 2;
  }
  .content:nth-child(7) {
    background-color: rgb(172, 52, 191);
    grid-row: 5 / span 2;
  }
  .content:nth-child(8) {
    background-color: rgb(18, 223, 196);
    grid-column: 2 / span 2;
  }
  .content:nth-child(9) {
    background-color: rgb(64, 224, 24);
    grid-column: 2 / span 3;
  }
} */
