html, body{
    height: 100%;
    margin: 0%;
   
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    border: 1px;
}
.flex-container{
 border: 1px;
 background-color: aquamarine;
flex-flow: row wrap;
display: flex;
height: 100%;
width: 100%;
}
*{
     box-sizing: border-box;
     border: 1px solid black;
}

.box1{
    background-color: brown;
flex-wrap: wrap;
width: 100%;
height: 20%;


    

}

.box2{
    background-color: chocolate;
    width:20%;
    height: 60%;

    
  }


.box3{
    background-color: blueviolet;
    width: 60%;
    height:60%;
}

.box4{
background-color: crimson;
width: 20%;
height: 60%;

}

.box5{
    background-color: darkblue;
    width: 100%;
    height: 20%;
    
}

.flex-aligned-justified {
    display: flex;
    align-items: center;
    justify-content:center;


}