@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* resets */

* {
    font-family: Lato;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: dodgerblue;
    color: white;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
    caret-color: white;
}

.input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}

.input::selection {
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: dodgerblue;
}

.input::placeholder {
    color: transparent;
}

.input:focus {
    outline: none;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 1rem;
}

.anchor {
    color: white;
}

.anchor:visited {
    color: white;
}