@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(50.99deg, #EF476F 25%, #FF9F0A 100%);
}

.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button {
    background-color: aquamarine;
    border: 1px solid blue;
    border-radius: 30px;
}

.anchor {
    color: black
}