
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: orange;
    height: 1000px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 60%;
}

.content {
    background-color: gold;
    flex-grow: 1;
}

@media (min-width: 666px) {
    .container {
        background-color: papayawhip;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .content {
        background-color: greenyellow;
    }

    .content:first-child {
        background-color: yellow;
        /* grid-row: 1 / 3; */
        grid-row: 1 / span 2;
    }

    /* .content:nth-child(1) {
        background-color: dodgerblue;
    } */

    .content:nth-child(2) {
        background-color: tomato;
        grid-column: 2 / span 2;
    }

    .content:nth-child(3) {
        background-color: dodgerblue;
        grid-column: 2 / span 2;
    }

    .content:nth-child(4) {
        background-color: blueviolet;
        grid-column: 1 / span 2;
        grid-row: 3
    }

    .content:nth-child(5) {
        background-color: burlywood;
        grid-column: 1 / span 2;
    }

    .content:nth-child(6) {
        background-color: aqua;
        grid-row: 3 / span 2;
    }

    .content:nth-child(7) {
        background-color: crimson;
        grid-row: 5 / span 2;
    }

    .content:nth-child(8) {
        background-color: mediumturquoise;
        grid-column: 2 / span 2;
    }

    .content:nth-child(9) {
        background-color: khaki;
        grid-column: 2 / span 2;
    }
}