.fighter {
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  border: 1px solid black;
  border-radius: 32px;
}
.oponent {
  background-color: rgba(4, 188, 239, 0.556);
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  border: 1px solid black;
  border-radius: 31px;
}
.score {
  display: grid;
  background-color: aquamarine;
  border-color: 2px solid black;
  height: 200px;
  width: 50px;
}
