<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="float.css">
</head>

<body>
    <div class="header">header</div>
    <div class="main clearfix">
        <div class="aside aside--left">aside1</div>
        <div class="aside aside--right">aside2</div>
        <div class="body left">body</div>
    </div>
    <div class="footer">footer</div>
</body>
</html>