<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="grid-container">
        <div class="header aligned">Header</div>
        <div class="main">
            <div class="aside aligned">Side 1</div>
            <div class="body aligned">Body</div>
            <div class="aside aligned">Side 2</div>
        </div>
        <div class="footer aligned">Footer</div>
    </section>
</body>
</html>